<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Stalkmedia</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    <script src="{% static "angular_code/controllers/app.js" %}"></script>
</head>

<body ng-app="stalkmediaApp">
<p>
<div ng-controller="TagController">
  <form novalidate class="simple-form">
    Enter the tag to be searched: 
    <input type="text" ng-model="image" />
    <input type="submit" ng-click="search(image)" value="Search" />
  </form>
</p>
    <div ng-repeat="tags in tag_data">
      [[tags.title]]
      <br>
       <img ng-src="[[tags.url]]">
    </div>
    <p ng-if="measure == 0">[[message]]</p>
</div> 


<div ng-view></div>

<script>
var static_url = '{{STATIC_URL}}'
</script>
</body>
</html>