<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Stalkmedia</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    <script src="{% static "angular_code/controllers/app.js" %}"></script>
</head>

<body ng-app="stalkmediaApp">
<div ng-controller="TagController">
  <form novalidate class="simple-form">
    Enter the tag to be searched: 
    <input type="text" ng-model="image" /><br />
    <input type="submit" ng-click="search(image)" value="Search" />
  </form>
    <div ng-repeat="tag_image in tag_urls">
       <img ng-src="[[tag_image]]">
    </div>
</div>


<div ng-view></div>

<script>
var static_url = '{{STATIC_URL}}'
</script>
</body>
</html>